* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 3rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background: #020617;
  padding: 1rem;
}

nav a {
  color: #38bdf8;
  text-decoration: none;
}

section {
  padding: 3rem 10%;
}

h2 {
  margin-bottom: 1rem;
  color: #38bdf8;
}

.card {
  background: #020617;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #020617;
}

